body {
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items:center;
  height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.completed {
  text-decoration: line-through;
  color:grey;
}

.complete{
  margin-left: 40px;
}

.delete{
  margin-left: 20px;
  color: red;
}
